
body{
    background-color: grey;
}
.borda1{
    border-bottom: 2px dashed red;
}
#borda2{
    border-left: 12px solid yellow;
}
#espaco{
    letter-spacing: 3px;
    word-spacing: 1cm;
}
#borda3{
    line-height: 2cm;
    border: 6px outset orange;
}
#fuc{
    text-align: end;
    background-color: aqua;
    border: 6px groove fuchsia;
}
.voltar{
    display:block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s ease all;
    padding-top: 10px;
}

.voltar:hover {
    transition: 0.2s;
    transform:scale(1.4);

  }
