

.intro{
    display: flex;
    justify-content: center;
}
.descricao{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#imagemcode{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#paragrafo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 6rem;
}
#btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    font-size: large;
}
#dois{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}