*{
    margin: 3;
    padding: 3;
    box-sizing: border-box;
}


body{
    
    font-family: 'Arial', Times, serif;
    color: black;
    
}

header .container{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p1{
    margin-top: -20px;
    color: grey;
    font-size: 2px;
}
.borda{
    background-color: grey;
}

.logo{
    margin-left: -18px;
    margin-bottom: -4px;
    margin-top: -22px;
    display: flex;
}

header nav img{
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: -9px;
    margin-top: 22px;
}


.materia {
    margin-top: -20px;
    padding: 50px 0;
    text-align: center;
}

.aulas{
    display: flex;
    flex-direction: column;
    justify-content:space-between
}


.icons{
    display: flex, inline-block;
    
    transition: 0.4s ease all;
}

header nav img{
    transition: 0.4s ease all;
}

header nav img:hover{
    transition: 0.2s;
    transform:scale(1.1);
}

.testt{
    margin: auto;
    width: fit-content;
}

.tabelas, .css, .bordas, .listas{
    display: flex;
    justify-content: center;
}


.tabelas{
    text-decoration: none;
    font-size: 36px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.css{
    text-decoration: none;
    font-size: 36px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.bordas{
    text-decoration: none;
    font-size: 36px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.listas{
    text-decoration: none;
    font-size: 36px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.tabelas:hover{
    box-shadow: inset 150px 0 0 0 #42CC0C;
    color: white;
}

.css:hover{
    box-shadow: inset 150px 0 0 0 #F9E422;
    color: white;
}

.bordas:hover{
    box-shadow: inset 150px 0 0 0 #F9372C;
    color: white;
}

.imagens{
    text-decoration: none;
    font-size: 36px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.imagens:hover{
    box-shadow: inset 150px 0 0 0 #EFCE70;
    color: white;
}

.listas:hover{
    box-shadow: inset 150px 0 0 0 #54b3d6;
    color: white;
}

.row{
    transition: 0.4s ease all;
}

.row:hover {
    background-color: yellow;
    transition: 0.2s;
    transform:scale(1.02);
  }


.texto2{
    color: green;
    font-size: 20px;
}

.texto1, .texto3{
    color: blue;
    font-size: 20px;
}

#texto4{
    text-align: end;
    background-color: aqua;
}

.voltar{
    align-items: center;
    transition: 0.4s ease all;
    padding-top: 10px;
}

.voltar:hover {
    transition: 0.2s;
    transform:scale(1.4);

  }

.row2{
    transition: 0.4s ease all;
}

.row2:hover {
    background-color: aqua;
    transition: 0.2s;
    transform:scale(1.02);
  }
