body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
}

.voltar{
    align-items: center;
    transition: 0.4s ease all;
    padding-top: 10px;
}

.voltar:hover {
    transition: 0.2s;
    transform:scale(1.4);

}

.image2{
    cursor: pointer;
    transition: 0.4s ease all;
}
/* Animação */
.imagens{
    cursor: pointer;
    transition: 0.4s ease all;
}
.imagens:hover{
    transition: 0.2s;
    transform:scale(1.03);
}


.um{
    transition: 0.2s;
}
.dois{
    transition: 0.2s;
}
.tres{
    transition: 0.2s;
}

.um:hover{
    transition: 0.2s;
    transform:scale(1.05);
}
.dois:hover{
    transition: 0.2s;
    transform:scale(1.05);
}
.tres:hover{
    transition: 0.2s;
    transform:scale(1.05);
}